@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --primary-color: #d8801d; /* Cor primária (azul claro) */
    --secondary-color: #e8eaed; /* Cor secundária (cinza claro) */
    --tertiary-color: #9aa0a6; /* Cor terciária (cinza médio) */
    --bg-color: #202124; /* Cor de fundo (cinza escuro) */
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: "Krona One", sans-serif;
}

header {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 10; 
    border-bottom: 2px solid var(--tertiary-color);
    gap: 1rem;
}

footer {
    position: absolute;
    bottom: 0; 
    left: 0;  
    width: 100%; 
    color: var(--tertiary-color);
    background-color: var(--bg-color);
    padding: 15px 20px; 
    border-top: 1px solid #3c4043; 
    font-size: 0.8rem;
    text-decoration: none;
}

.campo__busca {
    width: 350px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
}

.botao__busca {
    padding: 15px;
    border:left 40px solid transparent;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;

}

.botao__busca:hover {
    background-color: #58360f;
    color: var('--secondary-color');
}

.linha__horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    outline: none;
    background: none;
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
    color: white;
}  

input::placeholder {
    border: var(--tertiary-color);

}

input::placeholder {
    font-size: 1.2rem;
    font-weight: 300; 
    color: var(--tertiary-color); 
}

.link__doc {
    text-decoration: none;
    color: var(--primary-color);
}

.secao__checkin {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px; 
    text-decoration: none;
    color: var(--primary-color)

}

.secao__sobre_nos, .secao__atendimentos, .secao__notas, .secao__venda_direta, .secao__outras_sol {
    text-decoration: none;
    color: var(--secondary-color);
    padding-top: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --primary-color: #d8801d; /* Cor primária (azul claro) */
    --secondary-color: #e8eaed; /* Cor secundária (cinza claro) */
    --tertiary-color: #9aa0a6; /* Cor terciária (cinza médio) */
    --bg-color: #202124; /* Cor de fundo (cinza escuro) */
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: "Krona One", sans-serif;
}

header {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 10; 
    border-bottom: 2px solid var(--tertiary-color);
    gap: 1rem;
}

footer {
        position: absolute; /* Posicionamento absoluto em relação ao elemento pai posicionado */
    bottom: 0; 
    left: 0;  
    width: 100%; 
    color: var(--tertiary-color);
    background-color: var(--bg-color);
    padding: 15px 20px; 
    border-top: 1px solid #3c4043; 
    font-size: 0.8rem;
    text-decoration: none;
}
.campo__busca {
    width: 350px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
}

.botao__busca {
    padding: 15px;
    border:left 40px solid transparent;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;

}

.botao__busca:hover {
    background-color: #58360f;
    color: var('--secondary-color');
}

.linha__horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    outline: none;
    background: none;
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
    color: white;
}  

input::placeholder {
    border: var(--tertiary-color);

}

input::placeholder {
    font-size: 1.2rem;
    font-weight: 300; 
    color: var(--tertiary-color); 

}
