<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Check-In</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header>
        <h1>Manual Check-In</h1>
        <div class="linha__horizontal">
            <input type="text" placeholder="Digite sua busca aqui" class="campo__busca" id="campoBusca">
            <button class="botao__busca" onclick="iniciarBusca()">Buscar</button>
        </div>
    </header>

    <main>

        <body>

            <nav class="navbar">

                <div class="menu-btn" id="menu-btn" img src="imgs/seta-menu.png"></div>
                <ul>
                    <li>
                        <a href="#">Sobre Nós</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Atendimentos</a>
                        
                        <div class="dropdown-menu">
                            <a href="#">16.1</a>
                            <a href="#">16.2</a>
                            <a href="#">16.3</a>
                            <a href="#">16.4</a>
                        </div>
                    </li>
                    <li class="dropdown">    
                        <a href="#">Notas Fiscais</a>     

                        <div class="dropdown-menu">
                            <a href="#">Analises XML</a>
                            <a href="#">Contagens de entrada</a>
                            <a href="#">Consolidação de estoque</a>
                            <a href="#">Troca de notas</a>
                            <a href="#">TESTE 01</a>
                            <a href="#">TESTE 02</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">Outras Solicitações</a>

                        <div class="dropdown-menu">
                            <a href="#">OUTROS 01</a>
                            <a href="#">OUTROS 02</a>
                            <a href="#">OUTROS 03</a>
                            <a href="#">OUTROS 04</a>
                            <a href="#">OUTROS 05</a>
                            <a href="#">OUTROS 06</a>
                            <a href="#">OUTROS 07</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <footer class="cabecario">

                <a class="link__doc" href="https://marcelo-115.github.io/arquivos/index.html">Planilhas e documentos</a>
                </li>

            </footer>
            <script src="assets/js/script.js"></script>
        </body>

</html>
