.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #c57946;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: #222;
  border-radius: 8px;
  padding: 8px 0;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: top center;
  pointer-events: none;
  min-width: 160px;
  transition: 
    opacity .25s ease,
    transform .25s ease;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  white-space: nowrap;
}

/* ANIMAÇÃO HOVER DESKTOP */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* BOTÃO MOBILE */
.menu-btn {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 750px) {
  
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    background: #111;
    flex-direction: column;
    padding: 10px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  /* Dropdown no mobile */
  .dropdown-menu {
    position: relative;
    top: 0;
    opacity: 0;
    transform: scale(0.9);
    height: 0;
    overflow: hidden;
  }

  .dropdown.open .dropdown-menu {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    height: auto;
  }
}
